<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
{% block content%}
{% load static %}
<br>
<h4 class="text-center">Current Quizzes:</h4>
<br>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for quiz in quizlist %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top img-fluid" src="{% static 'quiz2.png' %}" alt="Card image cap">
                    <div class="card-body">
                        <a href="{% url 'quizdetail' quiz.id %}" class="card-text text-center" title="Click to play">{{ quiz.title }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<br>
{% endblock %}
</html>
