<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
{% block content%}
{% load static %}
<div class="main-tabs-docs">
    <ul class="nav nav-mtd tabs-info z-depth-1">
        <li class="nav-item">
            <a class="nav-item nav-link" href="{% url 'create' %}">Create Quiz</a></li>
        <li class="nav-item">
            <a class="nav-item nav-link" href="">Play Quiz</a></li>
        <li class="nav-item">
            <a class="nav-item nav-link" href="">Edit Quiz</a></li>
    </ul>
</div>
<br>
<h4 class="text-center">Current Quizzes:</h4>
<br>
<br>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for quiz in quizlist %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top img-fluid" src="{% static 'quiz2.png' %}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text text-center">{{ quiz.title }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<br>
{% endblock %}
</html>