<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
{% block content%}
{% if error %}
{{ error }}
{% endif %}
<h1> {{ quiz.title }}</h1>
<div class="container">
    <br>
    <p> Date: {{quiz.pub_date_pretty}}</p>
    <br>
    <p>Created by: {{quiz.founder}}</p>
    <br>
</div>
<br>
{% for round in rounds%}
<h3>{{ round }}</h3>
<!-- <p> Previous score: {{ round.score }}%</p> -->
{% if answers %}
{% if played == round %}
{{answers}}
{% endif %}
{% endif %}
<!--{% if round.score %}-->
{% if responses %}
<input type="button" value="Result details" onclick="myFunction()" >
<div id="resbutton" style="display: none">
    {{ responses }}
</div>
{% endif %}
<div>
    <a href="{% url 'quiz/playquiz' round.id %}" class="Next round">&#8250;Play Again </a>
</div>
<!-- {% else %} -->
<div>
    <a href="{% url 'quiz/seeAnswers' round.id%}" class="Next round">&#8350;View Answers </a>
<div>
    <a href="{% url 'quiz/playquiz' round.id %}" class="Next round">&#8250;Play </a>
</div>
<!-- {% endif %} -->
<br>
{% endfor %}
<script src="{% static 'js/playquiz.js' %}"></script>
{% endblock %}
</html>
