<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
{% block content%}
{% if error %}
{{ error }}
{% endif %}
<h1> {{ quiz.title }}</h1>
<div class="container">
    <br>
    <p> Date: {{quiz.pub_date_pretty}}</p>
    <br>
    <p>Created by: {{quiz.founder}}</p>
    <br>
</div>
<br>
{% for round in rounds %}
<h3>{{ round }}</h3>
{% if played == round %}
<div>
    <a href="{% url 'quiz/seeAnswers' round.id%}" class="Next round">&#8350;View Answers </a>
</div>
{%else%}
<div>
    <a href="{% url 'quiz/playquiz' round.id %}" class="Next round">&#8250;Play </a>
</div>
{% endif %}
<br>
{% endfor %}
{% endblock %}
</html>
