<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
{% block content%}
{% if error %}
{{ error }}
{% endif %}
<h1> {{ quiz.title }}</h1>
<div class="container">
    <br>
    <p> Date: {{quiz.pub_date_pretty}}</p>
    <br>
    <p>Created by: {{quiz.founder}}</p>
    <br>
</div>

{% for round in rounds%}
<br>
<h3>{{ round }}</h3>
<br>
{% for question in questions %}
{% for q in question %}
<form method="POST" action="" enctype="multipart/form-data">
    {% if q.round == round %}
    {% csrf_token %}
    Question: {{q}}
    <br>
    Answer:
    <br>
    <input type="text" name="answer">
    <br>
    <br>
    {% endif %}
    {% endfor%}
    {% endfor %}
    <input class="btn btn-success" type="submit" value="Submit">
</form>

{% endfor %}
{% endblock %}
</html>