<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
{% block content%}
{% if error %}
{{ error }}
{% endif %}
<h1> {{ round }}</h1>
<div class="container">
    <br>
    <form method="POST" action="{% url 'quiz/playquiz' round.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% for q in questions %}
        Question: {{q}}
        <br>
        Answer:
        <br>
        <input type="text" name="{{q.id}}">
        <br>
        <br>
        {% endfor %}
        <input class="btn btn-success" type="submit" value="Submit">

    </form>

    <!--    <form method="POST" action="{% url 'quiz/playquiz' round.id %}">-->
    <!--        {% csrf_token %}-->
    <!--        <br>-->
    <!--        {{ questions }}-->
    <!--        <input class="btn btn-success" type="submit" value="Next">-->
    <!--    </form>-->
</div>
<br>
{% if questions|length == "0"%}
<div class="text-center">
    <a href="{% url 'quiz/playquiz' round.id %}" class="Next round">&#8250;Play </a>
</div>

<br>
{% endif %}
{% endblock %}
</html>