<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
{% block content%}
{% if error %}
{{ error }}
{% endif %}
<h1>Quiz Questions</h1>

{% if form is None and mcq is None %}
<form method="POST" action="{% url 'submitquestion' quiz.id round.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    <br>
    Question:
    <br>
    <input type="text" name="prompt">
    <br>
    Answer:
    <br>
    <input type="text" name="answer">
    <br>
    <br>
    <input class="btn btn-success" type="submit" value="Submit Question">
</form>
{% endif %}
{% if question %}
<form method="POST" action="{% url 'questiontype' quiz.id round.id question.id %}">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
{% endif %}
{% if mcq %}
Question: {{mcq}}
<br>
<div class="alert alert-warning text-center" role="alert">
    <strong>Please make sure you add the correct answer as one of the choices! </strong></div>
<br>
Add choices:
<br>
{% if error_add %}
<strong style="color: red">{{ error_add }}</strong>
{% endif %}
<form method="POST" action="{% url 'addchoice' quiz.id round.id %}">
    {% csrf_token %}
    Option 1:
    <br>
    <input type="text" name="choice_text1">
    <br>
    Option 2:
    <br>
    <input type="text" name="choice_text2">
    <br>
    Option 3:
    <br>
    <input type="text" name="choice_text3">
    <br>
    <br>
    <input type="submit" value="Add">
</form>
<br>
{% endif %}
{% endblock %}
</html>