<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
{% block content%}
{% if error %}
{{ error }}
{% endif %}
<h1>Quiz Questions</h1>
{% if form%}
<form method="POST" action="{% url 'questiontype' quiz.id round.id %}">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
{% endif %}
{% if error_type %}
<strong style="color: red">{{ error_type }}</strong>
{% endif %}
{% if free %}
<form method="POST" action="{% url 'submitquestion' quiz.id round.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    <br>
    Question:
    <br>
    <input type="text" name="prompt">
    <br>
    Answer:
    <br>
    <input type="text" name="answer">
    <br>
    <br>
    <input class="btn btn-success" type="submit" value="Submit Question">
</form>

{% endif %}

{% if mcq %}
<br>
<div class="alert alert-warning text-center" role="alert">
    <strong>Please make sure you tick the correct answer! </strong></div>
<br>
<br>
{% if error_add %}
<strong style="color: red">{{ error_add }}</strong>
{% endif %}
<form method="POST" action="{% url 'submitmcq' quiz.id round.id %}">
    {% csrf_token %}
    <br>
    Question:
    <br>
    <input type="text" name="prompt">
    <br>
    Option 1:
    <br>
    <input type="text" name="choice_text1"> <input type="checkbox" name="correct1">
    <br>
    Option 2:
    <br>
    <input type="text" name="choice_text2"><input type="checkbox" name="correct2">
    <br>
    Option 3:
    <br>
    <input type="text" name="choice_text3"><input type="checkbox" name="correct3">
    <br>
    <br>
    <input type="submit" value="Submit">
</form>
<br>
{% endif %}
{% endblock %}
</html>