<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
{% block content%}
<h1> {{ quiz.title }}</h1>
<div class="container">
    <br>
    <p> Date: {{quiz.pub_date_pretty}}</p>
    <p>Created by: {{quiz.founder}}</p>
    <p>Quiz Code: {{quiz.id}}<p/>
    <br>
</div>
<h3>Current Rounds:</h3>
{% for round in rounds%}
<br>
{{round.title}}
<a href="{% url 'rounddetail' quiz.id round.id %}" class="btn btn-warning my-2">Edit</a>
{% endfor%}
<p>
    <a href="{% url 'round' quiz.id %}" class="btn btn-success my-2">Add Round</a>
</p>
{% endblock %}
</html>
