<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
{% block content%}
<h1> {{ quiz.title }}</h1>
<div class="container">
    <br>
    <p> Date: {{quiz.pub_date_pretty}}</p>
    <br>
    <p>Created by: {{quiz.founder}}</p>
    <br>
</div>
<!--<p>-->
<!--    <a href="{% url 'round' %}" class="btn btn-primary my-2">Add Round</a>-->
<!--</p>-->
{% for r in round%}
<br>
<h3> {{r.title}}</h3>
<!--<input type="button" class="btn btn-primary" value="Add Questions">-->
{% for q in range %}
<br>
<form method="POST" action="{% url 'createquestion' r.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    Question {{q}}:
    <br>
    <input type="text" name="prompt">
    <br>
    Answer:
    <br>
    <input type="text" name="answer">
    <br>
    <br>
    <input class="btn btn-success" type="submit" value="Create">
</form>
{% endfor %}
{% endfor %}
{% endblock %}
</html>